<!-- Modal -->
<!-- <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div *ngIf="user" class="modal-body">
            <h2>{{ user.userName }}</h2>
            <div>
                Name:
                <input [(ngModel)] = "user.userName" placeholder="Name" class="form-control"/>
            </div>
            <div>
                Email:
                <input [(ngModel)] = "user.email" placeholder="Email" class="form-control"/>
            </div>
            <div>
                Password:
                <input [(ngModel)] = "user.password" placeholder="Password" class="form-control"/>
            </div>
        
            <button (click)="updateUser(user);" *ngIf="user.id" class="btn btn-primary">Update</button>
            <button (click)="createUser(user);" *ngIf="!user.id" class="btn btn-primary">Add</button>
            <button (click)="deleteUser(user);" *ngIf="user.id" class="btn btn-danger">Delete</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" >Close</button>
        </div>
      </div>
  
    </div>
</div> -->
<h2 mat-dialog-title>{{title}}</h2>

<mat-divider></mat-divider>

<mat-dialog-content>
  <form [formGroup]="myForm" (ngSubmit)="SaveUser()">
    <p>
      <mat-form-field>
        <input placeholder="" matInput formControlName="id"/>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input placeholder="Name" matInput formControlName="userName"/>
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input placeholder="Email" matInput formControlName="email"/>
        <mat-icon matPrefix>drafts</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input placeholder="Password" matInput formControlName="password"/>
        <mat-icon matPrefix>lock</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input placeholder="Rollname" matInput formControlName="role"/>
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
    </p>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" *ngIf="user.id">UPDATE</button>
      <button mat-raised-button color="accent" *ngIf="!user.id">ADD</button>
      <button mat-raised-button color="warn" *ngIf="user.id">DELETE</button>
      <button mat-raised-button mat-dialog-close color="warn">CLOSE</button>
    </mat-dialog-actions>
  </form>

  <!-- <button (click)="updateUser(user);" *ngIf="user.id" class="btn btn-primary">Update</button>
  <button (click)="createUser(user);" *ngIf="!user.id" class="btn btn-primary">Add</button>
  <button (click)="deleteUser(user);" *ngIf="user.id" class="btn btn-danger">Delete</button> -->
</mat-dialog-content>